[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
gym = "*"
tensorflow = "==1.13.1"
pyglet = "*"
numpy = "*"
coverage = "*"
matplotlib = "*"
tensorboard = "==1.13.1"
networkx = "*"

[requires]
python_version = "3.6"
